@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model web_scraper.ViewModels.ProductListViewModel
@{
}


    <form asp-controller="Product" asp-action="List" method="get">
        <label>Select a category:</label>

        @Html.DropDownListFor(m => m.categorychosen, Model.CategoryListItems, null, new { @class = "form-control" })
        <label>Sort By:</label>
        @Html.DropDownListFor(m => m.filterSelected, Model.filterString, null, new { @class = "form-control" })
        <button type="submit">Go</button>
    </form>



<br />

<table class="table">
    <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Price</th>
        <th>Manufacturer</th>
        <th>Url</th>
    </tr>


    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Model</td>
            <td>@product.Price.ToString("c")</td>
            <td>@product.Brand</td>
            <td>@product.SiteUrl</td>
        </tr>
    }
</table>
