@model web_scraper.ViewModels.ProductListViewModel

<h1>@Model.CurrentCategory</h1>

<table>
    <tr>
        <th>
            Brand
        </th>
        <th>
            Model
        </th>
        <th>
            Price
        </th>
        <th>
            Short Description
        </th>
    </tr>
    
    @foreach (var product in Model.Products)
    {
        <tr>
            <td>
                @product.Brand
            </td>
            <td>
                @product.Model
            </td>
            <td>
                @product.Price
            </td>
            <td>
                @product.ShortDescription
            </td>
        </tr>
    }
</table>

