@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model web_scraper.ViewModels.ProductListViewModel
@{
}


<form asp-controller="Product" asp-action="List" method="get">
    <label>Select a category:</label>

    @Html.DropDownListFor(m => m.categorychosen, Model.CategoryListItems, null, new { @class = "form-control" })
    <label>Sort By:</label>
    @Html.DropDownListFor(m => m.filterSelected, Model.filterString, null, new { @class = "form-control" })
    <button type="submit">Go</button>
</form>

<select id="selectInput">
    <option value="name">Name</option>
    <option value="model">Model</option>
    <option value="manufacturer">Manufacturer</option>
</select>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search" title="Type in a search"/>

<br/>
<br/>

<table class="table" id="listTable">
    <tr>
        <th>Name</th>
        <th>Model</th>
        <th>Price</th>
        <th>Manufacturer</th>
        <th>Url</th>
    </tr>


    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Model</td>
            <td>@product.Price.ToString("c")</td>
            <td>@product.Brand</td>
            <td><a href=@product.SiteUrl target="_blank">link</a></td>
        </tr>
    }
</table>

<script>
    function myFunction() {
        var input, columnPick, colNum, filter, table, tr, td, i, txtValue;
        input = document.getElementById("myInput");
        columnPick = document.getElementById("selectInput");
        filter = input.value.toUpperCase();
        table = document.getElementById("listTable");
        tr = table.getElementsByTagName("tr");

        if (columnPick.value == "name") { colNum = 0 }
        if (columnPick.value == "model") { colNum = 1 }
        if (columnPick.value == "manufacturer") { colNum = 3 }

        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[colNum];
            if (td) {
                txtValue = td.textContent || td.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
</script>