@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model web_scraper.ViewModels.ProductListViewModel
@{
}


<form asp-controller="Product" asp-action="List" method="get">
    <label>Select a category:</label>

    @Html.DropDownListFor(m => m.categorychosen, Model.CategoryListItems, null, new { @class = "form-control" })
    <label>Sort By:</label>
    @Html.DropDownListFor(m => m.filterSelected, Model.filterString, null, new { @class = "form-control" })
    <button type="submit">Go</button>
</form>

<form asp-controller="Product" asp-action="List" method="get">

    <p>
        Find by name: @Html.TextBoxFor(m => m.searchString, new { @class = "form-control" })
        <input type="submit" value="Search" />
    </p>
</form>

<br />

<table cl
    <tr>
        <th><a asp-action="List" asp-route-sortOrder="@ViewData["NameSortParm"]">@Html.DisplayNameFor(model => model.Name)</a></th>
        <th><a asp-action="List" asp-route-sortOrder="@ViewData["ModelSortParm"]">@Html.DisplayNameFor(model => model.Model)</a></th>
        <th><a asp-action="List" asp-route-sortOrder="@ViewData["PriceSortParm"]">@Html.DisplayNameFor(model => model.Price)</a></th>
        <th><a asp-action="List" asp-route-sortOrder="@ViewData["ManufacturerSortParm"]">@Html.DisplayNameFor(model => model.Manufacturer)</a></th>
        <th><a asp-action="List" asp-route-sortOrder="@ViewData["UrlSortParm"]">@Html.DisplayNameFor(model => model.URL)</a></th>
    </tr>


    @foreach (var product in Model.Products)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Model</td>
            <td>@product.Price.ToString("c")</td>
            <td>@product.Brand</td>
            <td><a href=@product.SiteUrl target="_blank">link</a></td>
        </tr>
    }
</table>
